@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --main: orange;
    --bg: #0B1218;
    --bg-body: #131D28;
}
*{
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar {
    height: 100vh;
    width: 280px;
    overflow-y: auto;
    left: 0;
    top: 0;
    position: fixed;
    background: var(--bg)
}

.brand {
    padding: .5rem 1rem;
    display: flex;
    color: var(--main);
    align-items: center;
    height: 70px;
}

.brand span {
    font-size:1.8rem;
    margin-right: .5rem;
}

.side-user {
    margin: 1.8rem 0rem;
}

.side-img {
    height:120px;
    width:120px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border: 4px solid #3e454d;
    border-radius:50%;
}

.user {
    text-align: center;
    color: #fff;
    margin-top: .5rem;
}

.user small {
    display: inline-block;
    color: var(--main);
}

.sidemenu {
    padding: .5rem;
   
}

.sidemenu li {
    margin-bottom: 1rem;
}

.sidemenu a {
    color: #fff;
    font-size:.85rem;
    display: flex;
    align-items: center;
}

.sidemenu a span:first-child {
    font-size:1.3rem;
    padding: 0rem .6rem;
}

.sidemenu a.active{
    background: var(--main);
    color: #fff;
    border-radius: 4px;
    height:45px;
}